<%- include('header') -%>

<br>

<h2 class="header__title"><%= subtitle %></h2>

<form method="post" action="/addprojects">

    <div class="form-group">
      <label for="formGroupExampleInput">Heiti</label>
      <input type="text" class="form-control" name="HEITI" placeholder="Heiti verkefna">
    </div>  
    
    <div class="form-group">
      <label for="formGroupExampleInput">Staður</label>
      <input type="text" class="form-control" name="STADUR" placeholder="Staður">
    </div>
      
    <div class="form-group">
      <label for="formGroupExampleInput">Dagur</label>
      <input type="text" class="form-control" name="DAGUR" placeholder="Dagur">
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput">Byrja</label>
      <input type="text" class="form-control" name="TIMI_BYRJA" placeholder="Byrja">
    </div>
    
    <div class="form-group">
      <label for="formGroupExampleInput">Endir</label>
      <input type="text" class="form-control" name="TIMI_ENDIR" placeholder="Endir">
    </div>

    <div class="form-group">
      <label for="formGroupExampleInput">Vettvangur</label>
      <input type="text" class="form-control" name="VETTVANGUR" placeholder="Vettvangur">
    </div>

   
    <div class="form-group">
      <label for="exampleFormControlSelect1">Táknmálstúlkur</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <% for(let user of model) { %>
        <option><%= user.NAFN %></option>
        <% } %>
      </select>
    </div>
   

    <button class="btn btn-sm btn-success">Skrá</button>
  </form>

<br>

<%- include('footer') -%> 