<%- include('header') -%>

<br>

<h2 class="header__title"><%= subtitle %></h2>
 
<form method="post" action="/addusers">

    <div class="form-group">
      <label for="formGroupExampleInput">Kennitala</label>
      <input type="text" class="form-control" name="KT" placeholder="Kennitala" >
    </div>  
    
    <div class="form-group">
      <label for="formGroupExampleInput">Nafn</label>
      <input type="text" class="form-control" name="NAFN" placeholder="Nafn" >
    </div>
      
    <div class="form-group">
      <label for="formGroupExampleInput">Símanúmer</label>
      <input type="text" class="form-control" name="SIMI" placeholder="Símanúmer" >
    </div>
  
    <div class="form-group">
      <label for="inputEmail4">Netfang</label>
      <input type="email" class="form-control" name="NETFANG" placeholder="Tölvupósur" >
    </div>
    
    <br>

    <button class="btn btn-sm btn-success">Vista</button>

</form>

<br>

<%- include('footer') -%> 