<% include('header') %>

<h1 class="header__title"><%= title %></h1>

<a href="/">Home</span></a>
<a href="user">User</a>
<a href="project">project</a>

<h2> Lista af túlkunarverkefni </h2>
<% videos.forEach(function(obj) { %>
<h4> <%= obj.description %> </h4>
<% }) %>


<% include('footer') %> 