<%- include('header') -%>

<!--
<a href="/">Home</span></a>
<a href="user">User</a>
<a href="project">project</a>
-->

<h2 class="header__title"><%= subtitle %></h2>

<ul>
    <% videos.forEach(function(obj) { %>
      <li>
        <%= obj.description %> 
      </li>
    <% }) %>
</ul>

<%- include('footer') -%> 