<% include('header') %>

<h1 class="header__title"><%= title %></h1>

<a href="/">Home</span></a>
<a href="user">User</a>
<a href="project">project</a>

<h1> Lista af túlkum </h1>
<% videos.forEach(function(obj) { %>
<h4> <%= obj.Name %> </h4>
<% }) %>

<% include('footer') %> 