<% include('header') %>

<h1 class="header__title"><%= title %></h1>

<a href="/">Home</span></a>
<a href="user">User</a>
<a href="project">project</a>

<h3>Listi af táknmálstúlkum</h1> 

<ul>
  <% for(let user of model) { %>
  <li>
    <%= user.NAFN%>
  </li>
  <% } %> 
</ul>

<br> 
<h3>Add new</h3>
<a href="addusers">Add user</a>

<button>Skrifa undir</button> 

<% include('footer') %> 