<%- include('header') -%>

<h2 class="header__title"><%= subtitle %></h2>
 
<form method="post" action="/userupdate/<%= model.KT %>" >

    <div class="field">
      <label for="nationalId">Kennitala * </label>
      <input type="text" name="KT" value="Kennitala" >
    </div>  
    
    <div class="field">
      <label for="name">Nafn * </label>
      <input type="text" name="NAFN" value="Túlks nafn" >
    </div>
      
    <div class="field">
      <label for="nationalId">Símanúmer * </label>
      <input type="text" name="SIMI" value="Símanúmer" >
    </div>

    <div class="field">
      <label for="nationalId">Netfang * </label>
      <input type="text" name="NETFANG" value="Tölvupósur" >
    </div>
    
    <button class="btn btn-sm btn-success">Vista</button>
  </form>

<%- include('footer') -%> 